<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content class="ion-padding">
    <div class="ion-text-center">
      <img  src="../../assets/img-Mer-ionic/assets/home-image.png"> 
      <h1>Entregamos mantimentos á sua porta</h1>
      <p>A mercadoria oferece vegetais e frutas frescas. Ecomende itens frescos na mercearia.</p>
      <ion-button shape="round" (click)="navigateToCarrinho()">INICIAR</ion-button>
    </div>
  </ion-content>
</ion-content>
