
.p{
    margin-left: 5px;
}

.cat{
    font-size: 15px;
    margin-left: 5px;
}

.container{
    background-color: rgb(160, 243, 160);
    border-radius: 8px;
    width: 80%;
}

.footer-sessao{
    text-align: center;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .5);
    padding: 8px;
    border-radius: 8px;
}

.compras{
    font-size: 15px;
    margin-left: 5px;
}

.list{
    align-items: center;
}

